MONGO_URI=mongodb://localhost:27017
DATABASE_NAME=land_coordinates_db 
CDSE_USERNAME=example@gmail.com
CDSE_PASSWORD=password
CDSE_CLIENT_ID=cdse-public
CDSE_BASE_URL=https://catalogue.dataspace.copernicus.eu/odata/v1
CDSE_TOKEN_URL=https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token
CDSE_S3_URL=https://eodata.dataspace.copernicus.eu
CDSE_S3_ACCESS_KEY=accesskey
CDSE_S3_SECRET_KEY=secretkey

ADMINPWD=pulse123
DBPWD=pulse123